.wrapper {
  display: flex;
  flex-direction: row;
}

img {
  width: 400px;
}

.center-column {
  flex-direction: column;
}

.icon {
  padding: calc(100% / 2) 20px;
  cursor: pointer;
}

.dots {
  cursor: pointer;
}
